
@{
  ViewBag.Title = "Test";
}
<script src="http://localhost:8081/main.js"></script>
<link href="http://localhost:8081/styles/app.css" rel="stylesheet" />
<h2>Test</h2>
<first-component></first-component>

